a {
    text-decoration: none;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    padding: 1rem;
    gap: 1.5rem;
}

.movie-card {
    position: relative;
    background-color: #1a1a1a;
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    transition: 0.3s ease;
}

.movie-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.movie-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.6));
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.2s;
    padding: 1rem;
}

.movie-card:hover .movie-overlay {
    opacity: 1;
}

.favorite-btn{
    position: absolute;
    top: 3px;
    right: 3px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 1.75rem;
    padding: 0.5rem;
    margin: 5px 5px 0 0;
    width: 40px;
    height: 40px;
    transition: 0.3s ease;
}

.favorite-btn.active {
    color: #ff4757;
}

.favorite-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.movie-poster {
  position: relative;
  aspect-ratio: 2/3;
  width: 100%;
}

.movie-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.movie-details {
    padding: 1rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.movie-details h3 {
    font-size: 1rem;
    margin: 0;
}

.movie-details p {
    color: #999;
    font-size: 0.9rem;
}